div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  div a{
    background-color: #f0f0f0;
    padding: 0.3rem 1rem;
    margin: 0.3rem 0.25rem;
    border-radius: 10rem;
    font-weight: 600;
    color: rgb(177, 70, 8);
    transition: 0.3s;
  }

  div a:hover{
    /* scale: 1.01; */
    box-shadow: 0 1px 5px rgb(150, 150, 150);
  }